input[type=file] {
  width: 90px;
  color: transparent;
}

#upload-img-preview {
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  padding:15px;
}

#upload-img-preview img {
  max-width: 150px;
}

#update-img-display {
  max-width: 200px;
  max-height: 200px;
}

#post-form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#post-form-div>*, #create-post-form>*,#post-title-div>*, #post-content-div>*{
  margin-bottom: 15px;
}

#create-post-form {
  width: 50%;
}

#post-image-div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 0;
  /* border-radius: 10px; */
  overflow: hidden;
}

#deslect-image-btn {
  height: 30px;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  background-color: #dea7a7;
}

#post-title-div,#post-content-div{
  width: 100%;
}
#post-title-div input, #post-content-div textarea{
  width: 80%;
  outline: none;
  border: none;
  box-shadow: 2px 2px 5px gray;
  border-radius: 10px;
  min-height: 40px;
  padding: 5px;
}

textarea{
  height: 80px;
}

#submit-post-btn{
  height:40px;
  width:80px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 4px gray;
  cursor: pointer;
}

#create-post-input-label input, #edit-post-input-label input{
  display: none;
}

#create-post-input-label,#edit-post-input-label {
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
}

#upload-img-preview{
  width:180px;
  min-height: 180px;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  box-shadow: 0 0 6px rgb(207, 207, 207);
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#icon-span{
 
  width: fit-content;
}


#create-post-input-label:hover{
  cursor:pointer !important;
}
#edit-post-input-label:hover{
  cursor:pointer !important;
}

#create-post-main,#edit-post-main{
  display: flex;
}


#create-post-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#post-title-div, #post-content-div{
  display: flex;
    flex-direction: column;
    align-items: center;
}

#post-form-div h4{
  width: 100%;
  margin-left:80px;
}

#remove-image-div,#deslect-image-div{
  box-shadow: 0 0 4px gray;
  width: fit-content;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

#edit-post-input-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}