#login-modal{
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  height: 30vh !important;
  width:22vw !important;
}

#login-modal form{
  display: flex;
    flex-direction: column;
}

#login-modal h1{
  font-size: 30px;
}


#login-modal>*,#login-modal form>*{
  margin-bottom: 15px;
  width:100%;
  display: flex;
  justify-content: center;
}

#login-modal form label{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#login-modal form label input {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
}

.login-form-submit-btn{
  height: 30px;
  border: none;
  box-shadow: 0 0 5px gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
cursor: pointer;

}
.demo{
  background-color: #333333;
  color: white;
  border: 1px solid gray;
}

.login-form-submit-btn:hover{
  background-color: #ddaaaa;
  color: white;
}

@media screen and (max-width: 600px) {
  #login-modal{
    width: 85vw !important;
  }
}