#login-modal{
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  height: 30vh !important;
  width:30vw !important;
}

#login-modal form{
  display: flex;
    flex-direction: column;
}


#login-modal>*,#login-modal form>*{
  margin-bottom: 10px;
  width:100%;
  display: flex;
  justify-content: center;
}

#login-modal form label{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#login-modal form label input {
  width: 100%;
  height: 30px;
  border-radius: 10px;
}

.login-form-submit-btn{
  height: 30px;
  border: none;
  box-shadow: 0 0 5px gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
cursor: pointer;
}

.login-form-submit-btn:hover{
  background-color: #ddaaaa;
}