#login-signup-btn {
  margin-top: 20px;
  border: none;
 font-size: 14px !important;
 
  font-weight: bold;
  color: rgb(186, 145, 152);
  background-color: transparent;
  cursor: pointer;
  margin-right: 20px;
  box-shadow: 0 0 5px gray;
  border-radius: 5px;
  padding: 6px;
  margin: 0;
  margin-right:5px;
}

#login-signup-btn:hover{
  cursor: pointer;
  background-color: #e5b9b9;
  color: gray;
  
}
.hidden{
  display: none;
}