#footer-sub-divs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:0 auto;
  width: 30vw;
}

#about-btn:hover {
cursor: pointer;
  color: rgb(172, 119, 119);
}

#footer-main{
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
border-top: 1px dotted gray;
  padding-top: 30px;
/* position: fixed;
bottom: 0px; */
}

#contact-items{
  display: flex;
  justify-content: space-evenly;

}

#contact-items>*{
  margin-right: 10px;
 
}
#contact-items>p:hover{
  margin-right: 10px;
  cursor: pointer;
  color: rgb(170, 128, 142);
  font-weight: bold;
}