/* TODO Add site wide styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  
}


html,
body {
  /* background-color: rgb(224, 216, 217); */
  /* background-color: rgb(224, 216, 217); */
  height: 100%;
  padding: 0;
  margin: 0;
  /* background-color: rgba(198, 174, 174, 0.7); */
  color: rgb(53, 53, 53);
  /* font-family: 'Permanent Marker', cursive;
  font-family: 'Russo One', sans-serif;
  font-family: 'Ubuntu', sans-serif; */
  font-family: "Inter", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* button{
  height:30px;
  width:fit-content;
  padding: 5px 15px;
  border: none;
  box-shadow: 0 0 4px gray;
  border-radius: 5px;
  background-color: rgba(243, 242, 242, 0.8);
}

button:hover{
  background-color: #d7a9a9;
  color: rgb(255, 255, 255);
  cursor: pointer;
} */

/* input:focus{
  background-color: rgba(198, 154, 154,.8);

}
textarea:focus{

  background-color: rgba(198, 154, 154, .8);
} */
input {
  background-color: white !important;
  font-size: 16px;

}
button:hover{
  cursor: pointer;
}
textarea {

  background-color: white;
  font-size: 16px;
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

