/* TODO Add site wide styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  height:30px;
  width:fit-content;
  padding: 5px 15px;
  border: none;
  box-shadow: 0 0 4px gray;
  border-radius: 5px;
  background-color: rgba(243, 242, 242, 0.8);
}

button:hover{
  background-color: #d7a9a9;
  color: rgb(255, 255, 255);
  cursor: pointer;
}