/* * {
  box-sizing: border-box;
} */

#create-comment-form {
  height: 120px;
  display: flex;
  align-items: center;
  margin: 20px 30px;
}

#comment-field {
  min-width: 350px;
  min-height: 80px;
  outline: none;
  border:none;
  box-shadow: 0 0 4px gray;
}
/* #edit-comment-form textarea,#create-comment-form textarea {
  transform-origin:  center top;
  transition: height 0.2s;
  
} */

/* */

#create-comment-form textarea:focus #comment-detail-div{
margin-top:100px;
}

#create-comment-form{
height:fit-content;
display: flex;
flex-direction: column;
align-items: flex-start;
}


#edit-comment-form textarea,#create-comment-form textarea {
  height: 200px;
  width: 100%;
  border: 0.5px solid gray;
  border-radius: 10px;

}


#edit-comment-img-input-label input{
  display: none;
}

#edit-comment-form{
  display: flex;
  flex-direction: column;
  width:80%;
  align-items: center;
}

#edit-comment-modal{
  width:100%;
  height:300px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#edit-comment-modal div{
  width: 100%;
  display: flex;
  justify-content: center;
}
#edit-comment-modal div form{
  width: 90%;
  min-width: fit-content;
}
#edit-comment-modal div form div{
  width: 100%;
}


#edit-comment-img-container{
  margin-top: 20px;
  width: 100%;
  /* min-width: 450px; */
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
}
#edit-comment-input-label{
  min-width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


#edit-comment-form i:hover{
  cursor: pointer;
}

.icon-span{
  min-width: 30px;
  width:fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  /* justify-content: space-between; */
}

.icon-span:hover .icon-text{
  cursor: pointer;
  display: block;
}
.icon-text{
  margin-top: 10px;
  columns: gray;
  display: none;
}

#comment-img{
  width: 100px;
  height: 100px;
  border-radius:15px;
  outline: none;
  border: none;
  box-shadow: 0 0 4px gray;
}

#edit-comment-btn{
height: 30px;
  border: none;
  box-shadow: 0 0 5px gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
  width:30vw;
  background-color: #fff;
  color: #ddaaaa;;
}

#edit-comment-btn:hover {
  background-color: #ddaaaa;
  color:gray;
}

textarea{
padding: 15px;
}

#comment-form-div{
  padding-top:20px;
}

#submit-comment-div{
  display: flex;
  align-items: center;
  margin-top:15px;
}

#submit-comment-div>*{
  margin-right: 15px;
}

#submit-comment-btn{
  height:30px;
  cursor: pointer;
}

#submit-comment-div input{
  display: none;
}

#submit-comment-div button{
  height: 30px;
}
#submit-comment-div button:hover{
 cursor: pointer;
}