.profile-dropdown {
  z-index: 9999;
  position: fixed;
  right: 35%;
  top: 40%;
  background-color: rgba(255, 255, 255, .95);
  border-radius: 15px;
  padding: 10px;
  width: 25vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  box-shadow: 0 0 10px gray;
}

#profile-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#button-section button {
  height: 30px;
  width: 150px !important;
  border: none;
  box-shadow: 0 0 5px gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
  margin: 0 20px;
}



.hidden {
  display: none !important;
}

#title-div {
  position: absolute;
  left: 42%;

}

#title-div img {
  height: 150px;
}

#title-div a {
  font-size: 35px;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Russo One', sans-serif;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  color: #796c6c;
  font-size: 50px;
  font-weight: 700;
  text-decoration: none !important;

}

#title-div a:hover {
  color: gray !important;
}


#navigation-section {
  padding: 20px 160px 0px 100px;
  min-height: 180px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #fff;
}

#user-profile-img-li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px 15px 20px;
  background-color: #e5b7b7;
}

img#profile-img {
  width: 200px;
  /* height: 150px; */
}

#nav-right-div {
  display: flex;
  align-items: center;
}

#nav-right-div i:hover {
  cursor: pointer;
}

#nav-right-div .one {
  margin-right: 30px;
}

#navigation-tab:hover #icon-nav-div {
  opacity: 1;
}

#icon-nav-div {
  opacity: 0;
  height: fit-content;
  position: absolute;
  right: 130px;
  top: 110px;
  z-index: 999 !important;
  transition: all 0.2s;
}

#icon-nav-div li {
  padding: 0;
  /* margin: 0; */
}

#icon-nav {

  margin-top: 10px;
  list-style: none;
  border-radius: 12px;
  box-shadow: 2px 4px 10px white;
  background-color: rgba(225, 225, 225, 0.9);
  color: rgba(55, 55, 55, .9);
  padding: 0 15px 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#icon-nav button {
  padding: 0;
  margin: 0 !important;
}

#icon-nav li {
  width: 50px;
}

#icon-nav li:hover {
  cursor: pointer;
}

#icon-nav>* {
  margin-top: 15px;
}

#icon-nav li button i {
  /* font-size:30px !important; */
  color: rgb(84, 84, 84);
}

#icon-nav li>*,
#icon-nav a {
  color: rgb(84, 84, 84);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  position: relative;
}

#icon-nav>*:hover {
  background-color: #debbbb;
  outline: none;
}

#icon-nav>*:hover span {
  transform: scale(1);
  opacity: 1;
}

#icon-nav span {
  position: absolute;
  white-space: nowrap;
  padding: 10px 15px;
  right: 80px;
  background-color: #debbbb;
  font-size: 15px;
  border-radius: 10px;
  transform: scale(0);
  opacity: 0;
  transform-origin: center right;
  transition: 0.2s ease;
}

#icon-nav span::before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  left: -5px;
  top: 50%;
  border-radius: 10px;
  transform: translateY(-50%)rotate(45deg);
}

.icon-text {
  /* display: none; */
  font-size: 10px;
}

#search-box {
  top: 20px;
  left: 70px;
  transform: translate(0%, -50%);
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 5px gray;
  background-color: white;
}

#search-text {
  border: none;
  background-color: none;
  outline: none;
  float: left;
  padding: 0;
  font-size: 15px;
  width: 0;
  transition: 0.5s;
}

#search-text {
  height: 38px;
  background-color: white;
  border-radius: 50%;
}

#search-btn {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: none !important;
  box-shadow: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}



#search-btn i {
  /* width: fit-content; */
  border-radius: 50%;
}

#search-box:hover #search-text {
  width: 200px;
  padding: 0 5px;

}

#search-box:hover {
  border-radius: 10px;
}

#signup-login-div {
  display: flex;
  align-items: center;
  justify-content: center;

}

#signup-login-h4 {
  padding: 0 5px;
}

#new-profile-pic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  box-shadow: 0 0 4px gray;
  overflow: hidden;
}

#new-profile-pic img {
  width: 130px;


}

#follower-content h2 {
  font-size: 20px;
  margin: 0;
  font-weight: 400;

}

#update-profile-pic-text {
  font-size: 10px;
}

#profile-up-right {
  display: flex;
  position: absolute;
  align-items: flex-start;
  left: 37%;
  top: 5%;
}

#profile-icon-span,
.comment-icon-span {
  border-radius: 50%;
  position: absolute;
  left: -25px;
  top: -5px;
  font-size: 40px;
  cursor: pointer;
  color: black;
  /* background-color: #b98f8f; */

}

.comment-icon-span {
  top: -20px;
  left: 0;
}

#profile-up-left {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 30px;
}

#profile-up-right {
  margin-left: 20px;
}

#edit-comment-img-input-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


#profile-icon-span:hover {
  color: #cd6e6e;
}

#button-section {
  display: flex;
}

#nav-right-div button {
  border: none;
  background-color: transparent;
  margin-right: 20px;
}

#navigation-section {

  /* background-color: rgb(224, 216, 217); */
}

/* Style for the modal overlay */
#modal-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent overlay */
  z-index: 100;
  /* Ensure it's above other content */
}

/* Style for the modal content */
.PermitErrorModal {
  background: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#logout-btn {
  height: 30px;
  cursor: pointer;
  font-weight: 400 !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  color: black;
  border: 1px solid rgb(0, 0, 0) !important;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

#logout-btn:hover {
  background-color: #ddaaaa;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, .2) !important;
}

#search-bar-hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  #navigation-section {
    /* justify-content: flex-end; */
    padding: 0;
    padding-right: 30px;
    width: 100vw;
    /* height: 240px; */
  }

 
}
@media screen and (max-width: 600px) {
  #navigation-section {
    flex-direction: column;
    align-items: center;
    padding: 0;
   
    width: 100vw;
    /* height: 240px; */
  }

  #navigation-section>* {
    margin-bottom: 10px;
    margin-right: 10vw;
    position: static;
  }

  #title-div{
    margin: 0;
  }
  #nav-right-div{
   width: 80vw;
   display: flex;
   justify-content: flex-end;
    margin-right: 0;
  }

  #search-bar {
    display: none;
  }

  #search-bar-hidden {
    display: block;
    display: flex;
    width: 100vw;
  }
  
  
  #search-bar-hidden #search-box {
    left:7vw;
    /* position:absolute; */

    width: 85vw;
    border-radius: 10px;
    margin-bottom: 15px;
    
  }

  #search-bar-hidden #search-text {
    border-radius: 10px;
    border: none;
    background-color: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 15px;

    
    width: 60vw;
  }

  .profile-dropdown{
    width: 70vw;
    left:15vw;
  }
  #icon-nav {

    margin-top: 60px;
  }
  #icon-nav-div{
    right: 10px;
  }

  #nav-right-div>*{
    margin-right: 15px;
  }
 
  #button-section{
    flex-direction: column;
    justify-content: center;
  }
  #logout-btn{
    margin-top: 15px;
  }
  #button-section button{
    margin-top:10px;
  }
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}