#signup-modal-div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#signup-form{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width:300px;
}
#signup-form>*{
  width: 100%;
}

#signup-form button{
  width:100%;
}

.label{
  display: flex;
width:100%;
}
#signup-form .label input{
  width: 200px;
  height:30px;

}

#signup-form input{
  width: 100%;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
}

#required-field{
  color:red
}

/* label{
  display: flex;
} */

#signup-btn{
  height: 30px;
    border: none;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top:20px;
}

#signup-btn:hover {
  background-color: #ddaaaa;
}

#profile-img-preview{
  width:80px;
  height: 80px;
}

#image-preview-box {
  display: flex;
  align-items: center;
}