#all-post-div {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  background-color: #fff !important;
  align-items: end ; */
  box-sizing: border-box;
  width: 85vw;
  margin: 60px auto 20px;
  columns: 3;
  column-gap: 5px;
  z-index: -999999 !important;
  
}

#all-post-container h1{
  font-size: 40px;
}

@media screen and (max-width: 1200px) {
  #all-post-div {
    columns: 2;
  }
}

@media screen and (max-width: 600px) {
  #all-post-div {

    columns: 1;
  }
}