#all-post-div {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  background-color: #fff !important;
  align-items: end ; */
  box-sizing: border-box;
  width: 85vw;
  margin: 60px auto 20px;
  columns: 3;
  column-gap: 5px;
  z-index: -999999 !important;
}

#all-post-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color:  #c69a9a;
  z-index:-999; */
}

