#follower-content p {
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

#follower-content {
  align-items: center;
  border-top: dotted;
  border-color: rgb(223, 223, 223);
  margin-bottom: 20px;
  padding-top: 20px;
}

 #profile-img-url {
  display: flex;
  justify-content: center;
  align-items: center !important;
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;
  overflow: hidden;
  /* margin: 5px 15px 20px; */
  background-color: #e5b7b7;
}




.nav-link-div p,
#follower p,
#following p {
  padding: 0;
  margin: 0;
}

.nav-link-div {
  height: fit-content;
}

#post-nav {
  height: fit-content;
  margin-bottom: 30px;
  width: 36vw;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  #post-nav {
    width: 90vw;
  }
  #post-nav>*{
    margin-right: 0;
  }

  .nav-link-div p, #follower p, #following p{
    font-size: 10px;
    margin-top: 10px;
  }

  #profile-info-div{
    width: 90vw;
  }

  #follower-content, #follow-div{
    width: 85vw;
  }

  #follower-content button{
    font-size: 10px;
  }

  #profile-info-img-div{
    height: 40px;
    width: 40px;
  }

  #profile-info-div h4{
    font-size: 12px;
  }
}